*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  margin: 0 auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}
section {
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */
.page-heder {
}
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heder-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 76px 24px 0;
}
.logo-header {
  color: #2e2f42;
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  gap: 40px;
}
.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* CONTACTS */
.contacts {
  display: flex;
  align-items: center;
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-item {
}

.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* HERO SECTION */
.section-hero {
  padding: 188px 0;
  background: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  border: none;
  min-width: 169px;
  min-height: 56px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* INFO SECTION */
.section-info {
  padding: 120px 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  max-width: 1128px;
  margin: 0 auto;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.info-list {
  display: flex;
  gap: 40px;
}

.info-item {
  flex: 1;
  max-width: 264px;
  text-align: center;
}

.info-title {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 0;
  padding-bottom: 8px;
}

.info-text {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* TEAM SECTION */
.team-section {
  display: flex;
  padding: 188px 0;
  background: #f4f4fd;
}

.team-heading {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

.team-phote {
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* PORTFOLIO SECTION */
.section-portfolio {
  background: #fff;
}

.portfolio-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-phote {
}

/* FOOTER SECTION */
.footer-section {
  background: #2e2f42;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
}

.logo-part {
}
